{% include base_path %}

{% if post.collection == 'publications' %}

<div class="publication-item">
  <p>
    <strong>
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </strong><br />

    {% if post.authors %}
      {{ post.authors }}<br />
    {% endif %}

    {% if post.venue %}
      <em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
    {% endif %}

    {% if post.paperurl %}
      &nbsp;[<a href="{{ post.paperurl }}">PDF</a>]
    {% endif %}
  </p>
</div>

{% else %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item">
    <h2 class="archive__item-title">
      <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
    </h2>

    {% if post.excerpt %}
      <p class="archive__item-excerpt">{{ post.excerpt | markdownify }}</p>
    {% endif %}
  </article>
</div>

{% endif %}
